.img {
  height: 55px;
  margin-bottom: 20px;
}

.photo {}

.section {
  padding: 15px;
  margin-bottom: 15px;
}

.section-title {
  font-size: 24px;
}

.section-title {
  color: rgb(76, 0, 255);
}

.users {
  display: grid;
  grid-template-columns: 80px 1fr;
  margin-bottom: 18px;
  text-align: center;
}

.descr {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  text-align: center;
  margin-left: 30px;
}

.name, .location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fullName {
  font-size: 22px;
}

.selectedPage {
  font-size: 22px;
  font-weight: 600;
}

.number {

  cursor: pointer;
}

.pagination {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 15px;
}