.bg__img {
  width: 100%;
  border-radius: 5px;

}

.avatar {
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
}

.avatar img {
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 50%;
  border: 3px solid lightgreen;
  box-shadow: -3px 3px 3px;
}